@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Inter:wght@100..900');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Londrina+Outline&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
h1{
    font-family: Great vibes;
}
.slogan{
    font-family: Dancing Script;
}
.link-header{
    font-family: inter;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
  border-radius: 0.5rem;
}


.hover\:bg-orange-100:hover {
  background-color: #f8e8d4;
}

